@mixin respond-to($media) {
  @if $media == phone {
    @media only screen and (max-width: 767px) {
      @content
    }
  }

  @if $media == retina {
    @media only screen and (-webkit-min-device-pixel-ratio: 2) {
      @content
    }
  }
}

@mixin retina-image($name, $size: 100%) {
  background-size: $size;
  background-image: image-url('#{$name}_@x2.png') !important;
  background-repeat: no-repeat;
}
